@page "/Editor"
<div class="content">
  <div class="container component-body">
    <div class="card">
      <div class="card-body"
           id="editor-container">
        <SmartEditorImplementation></SmartEditorImplementation>
      </div>
    </div>
    <div class="card"
         id="options-container">
      Content
    </div>
  </div>
</div>
