.component-body {
  position: relative;
  display: grid;
  grid-template-columns: 1fr .25fr;
  gap: 1rem;
}

#options-container {
  padding: 1rem;
  position: relative;
  display: flex;
}

#snippet-cards {
  padding: 1rem;
  position: relative;
  display: flex;
}